extends layout
block links
  link(rel="stylesheet" type="text/css" href="./css/index.css")
block doms
  video(id="videoel" width="100" height="75" preload="auto" loop)
  p(id="progress")
block scripts
  script(type="text/javascript" src="./js/vendor/three/utils.js")
  script(type="text/javascript" src="./js/vendor/clm/numeric-1.2.6.min.js")
  script(type="text/javascript" src="./js/vendor/clm/mosse.js")
  script(type="text/javascript" src="./js/vendor/clm/jsfeat-min.js")
  script(type="text/javascript" src="./js/vendor/clm/frontalface.js")
  script(type="text/javascript" src="./js/vendor/clm/jsfeat_detect.js")
  script(type="text/javascript" src="./js/vendor/clm/left_eye_filter.js")
  script(type="text/javascript" src="./js/vendor/clm/right_eye_filter.js")
  script(type="text/javascript" src="./js/vendor/clm/nose_filter.js")
  script(type="text/javascript" src="./models/model_pca_20_svm.js")
  script(type="text/javascript" src="./js/vendor/clm/clm.js")
  script(type="text/javascript" src="./js/vendor/clm/svmfilter_webgl.js")
  script(type="text/javascript" src="./js/vendor/clm/svmfilter_fft.js")
  script(type="text/javascript" src="./js/vendor/clm/mossefilter.js")
  script(type="text/javascript" src="./js/bundle.js")