extends layout
block links
  link(rel="stylesheet" type="text/css" href="./css/index.css")
block doms
  video(id="videoel" width="100" height="75" preload="auto" loop)
  p(id="progress")
block scripts
  script(type="text/javascript" src="./js/vendor/three/utils.js")
  script(type="text/javascript" src="./js/vendor/clm/clmtrackr.min.js")
  script(type="text/javascript" src="./models/model_pca_20_svm.js")
  script(type="text/javascript" src="./js/bundle.js")