 #info{
  color: white;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
}
#videoel{
  position: absolute;
  right: 0;
  visibility: hidden;
}
#overlay{
  position: absolute;
  right: 0;
}
#progress{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}